.kitchenOrderItem span {
  display: flex;
  width: 25%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.kitchenOrderItem {
  display: flex;
  justify-content: space-around;
}

.kitchenOrdersContainer {
  max-width: 780px;
  margin: 0 auto;
  border: solid 1px black;
  border-radius: 10px;
}

.optionChooser {
  border-radius: 10px;
  background: white;
  height: 25px;
}

.orderStatus {
  text-align: center;
  border: solid 1px;
  border-radius: 10px;
  background-color: white;
  transition: background 1s ease-in, color 1s ease-in, width 1s ease-in;
}
.itemPending {
  background: orange ;

  
}

.itemCanceled {
  background: rgb(243, 41, 15) ;
  color:white;
}

.itemServed {
  background: rgb(6, 189, 67) ;
  color:white;
}

.itemCooking {
  background: rgb(199, 22, 161) !important;
  color: white;
}



@media (min-width: 980px) {
  .kitchenOrdersContainer {
    padding: 20px 30px;
  }
  .kitchenOrderItem {
    display: flex;
    justify-content: space-around;
  }

  .kitchenOrderItem span {
    margin-bottom: 10px;
  }
}
